<div>
    <h3 class="done">Mon agence</h3>
    <ul>
        <li class="current">Zone de chalandise
            <!--<span class="myAnswer">10km autour de Villefranche-sur-Saone</span>-->
        </li>
        <li>Support Internet
            <!--<span class="myAnswer">Premium - 220€/mois</span>-->
        </li>
    </ul>
</div>
<br/>
<div>
    <h3>Mes médias</h3>
    <ul>
        <li>Google</li>
        <li>Youtube</li>
        <li>Facebook</li>
    </ul>
</div>
<br/>
<div>
    <h3>Paiement</h3>
    <ul>
        <li>Coordonnées</li>
        <li>Récapitulatif</li>
        <li>Confirmation</li>
    </ul>
</div>