<div class="row row-footer">
    <div class="col-md-8 col-md-offset-2">
        <div class="wrapper-btn-slide"><i class="fa fa-chevron-up slide-up" aria-hidden="true"></i></div>
        <div class="row flex">
            <div>
                <img src="img/logo-axa-footer.png"/></div>
            <div>
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                Une efficacité mesurée
                <div class="details">
                    Grâce à votre espace client, vous pouvez connaître le nombre d’appels qualifiés et le nombre de
                    formulaires que vos campagnes Geolid ont généré.
                </div>
            </div>
            <div>
                <i class="fa fa-lock" aria-hidden="true"></i>
                Paiement sécurisé
                <div class="details">
                    Vous pouvez payer par paiement CB sécurisé 3D Secure.
                </div>
            </div>
            <div>
                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                Voir les mensions légales
                <div class="details">
                    Retrouvez les <a href="#">Conditions générales de vente.</a>
                </div>
            </div>
        </div>
        <div class="flex testimony">
            <img src="img/portrait.png" />
            <p>Ut mattis felis sit amet augue tempus malesuada quis id nisl. Cras dui quam, porta et tempor eu, sollicitudin eget ante. Nam lobortis, quam sed feugiat feugiat, mauris urna ultricies est, rhoncus porttitor nunc orci et nisi
                <span>Catherine T. - AXA Paris 8ème</span></p>
        </div>
    </div>
</div>