
<header>
    <h1>Ma zone de chalandise</h1>
    <h2>Cibler en fonction :</h2>
    <ul>
        <li><a href="#" class="active">De la distance par rapport à un établissement</a></li>
        <li><a href="#">D’une ville ou d’un code postal</a></li>
    </ul>
</header>
<div class="flex main-content">
    <div id="map"></div>
    <script>
        var uluru;
        var map;
        var marker;
        var cityCircle;
        function initMap() {
            uluru = {lat: 45.762067, lng: 4.835784};
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 9,
                center: uluru
            });
            marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
            cityCircle = new google.maps.Circle({
                strokeColor: '#0066cc',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#ffffff',
                fillOpacity: 0.35,
                map: map,
                radius: 25000,
                center: {lat: 45.762067, lng: 4.835784}
            });
        }
    </script>
    <div class="side-content">
                    <span class="encart">
                        <strong>Nous avons situé votre agence à l’adresse :</strong>
                        <br/>
                        125 rue de la République - 75007 Paris. <a href="#">Modifier</a>
                    </span>
        <p class="inner-title">Rayon de ciblage : <span class="myKilometer">25 kilomètres</span></p>
        <div class="rkmd-slider slider-discrete slider-lightBlue">
            <input type="range" min="0" max="100" value="25">
        </div>
        <div class="slider-range flex">
            <span>0 km</span>
            <span>50 km</span>
            <span> 100km</span>
        </div>
    </div>
</div>
<div class="flex nav-bot">
    <a href="#" class="nav-bot-left ripple-effect">
        Étape précédente
        <div class="link-prev">-</div>
    </a>
    <a href="support.html" class="nav-bot-right ripple-effect">
        Étape suivante
        <div class="link-prev">Support Internet<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
    </a>
</div>