<header>
    <h1>Mon support internet</h1>
    <h2>J'indique mon adresse</h2>
    <ul>
        <li><a href="support.html">Je n'ai pas de site</a></li>
        <li><a href="#" class="active">J’ai déjà un site</a></li>
    </ul>
</header>
<div class="flex main-content">
    <div class="flex">
        <form>
            <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Adresse de mon site internet</label>
            </div>
        </form>
    </div>
</div>
<div class="flex nav-bot">
    <a href="index.html" class="nav-bot-left ripple-effect">
        Étape précédente
        <div class="link-prev"><i class="fa fa-long-arrow-left"
                                  aria-hidden="true"></i>Zone de chalandise
        </div>
    </a>
    <a href="google.html" class="nav-bot-right ripple-effect">
        Étape suivante
        <div class="link-prev">Google<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
    </a>
</div>