<header>
    <h1>Je choisis mon pack google</h1>
    <!--<h2>Je choisis une offre</h2>
    <ul>
        <li><a href="#" class="active">Je n'ai pas de site</a></li>
        <li><a href="support-alt.html">J’ai déjà un site</a></li>
    </ul>-->
</header>
<div class="flex main-content">
    <div class="flex">
        <div class="offer-1">
            <header>
                Flyer
            </header>
            <div class="offer-price">
                <span>170€</span>/mois
            </div>
            <div class="offer-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <a href="#">En savoir plus</a>
            </div>
            <button class="btn-offer">
                Choisir cette offre
            </button>
            <div class="checkmark-wrapper">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>

        </div>
        <div class="offer-2 chosen">
            <header>
                Premium
            </header>
            <div class="offer-price">
                <span>170€</span>/mois
            </div>
            <div class="offer-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <a href="#">En savoir plus</a>
            </div>
            <button class="btn-offer">
                Choisir cette offre
            </button>
            <div class="checkmark-wrapper">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>
        </div>
        <div class="offer-3">
            <header>
                Optimum
            </header>
            <div class="offer-price">
                <span>170€</span>/mois
            </div>
            <div class="offer-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
                <a href="#">En savoir plus</a>
            </div>
            <button class="btn-offer">
                Choisir cette offre
            </button>
            <div class="checkmark-wrapper">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>
        </div>
        <div class="offer-4">
            <header>
                Personnalisé
            </header>
            <div class="offer-price">
                <span>&nbsp;</span>
            </div>
            <div class="offer-desc">
                Contactez-nous au<br />
                <strong>04 82 53 50 50</strong>
            </div>
            <br />
            <button class="btn-offer">
                Choisir cette offre
            </button>
            <div class="checkmark-wrapper">
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="flex nav-bot">
    <a href="support.html" class="nav-bot-left ripple-effect">
        Étape précédente
        <div class="link-prev"><i class="fa fa-long-arrow-left"
                                  aria-hidden="true"></i>Support internet
        </div>
    </a>
    <a href="#" class="nav-bot-right ripple-effect">
        Étape suivante
        <div class="link-prev">Youtube<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
    </a>
</div>