<header>
    <h1>Je finalise ma commande</h1>
</header>
<div class="main-content">
    <div class="recap">
        <div class="row pack-google">
            <div class="col-md-6">
                <i class="fa fa-chevron-right slide-up-1" aria-hidden="true"></i> Mon pack Google<span>&nbsp;150€/mois</span>
                <div><br>
                Nous créaons un support internet à votre image afin de vous faire connaître et vous faire apparaître en
                première page Google
                </div>
            </div>
            <div class="col-md-4">
                Basic
                <div><br>
                20 000 affichages<br>
                250 clics<br>
                <a href="#">Modifier</a>
                </div>
            </div>
            <div class="col-md-2">
                150€/mois
            </div>
        </div>
        <hr>
        <div class="row pack-facebook">
            <div class="col-md-6">
                <i class="fa fa-chevron-right slide-up-2" aria-hidden="true"></i> Mon pack Facebook <span>&nbsp;80€/mois</span>
                <div><br>
                Nous créaons un support internet à votre image afin de vous faire connaître et vous faire apparaître en
                première page Google
                </div>
            </div>
            <div class="col-md-4">
                Basic
                <div><br>
                20 000 affichages<br>
                250 clics<br>
                <a href="#">Modifier</a>
                </div>
            </div>
            <div class="col-md-2">
                80€/mois
            </div>
        </div>
        <hr>
        <form class="flex recap-choices">
            <div class="group-1">
                <input type="radio" id="three" name="choice">
                <label for="three">Engagez-vous sur 3 mois</label>
            </div>
            <div class="group-2">
                <input type="radio" checked id="twelve" name="choice">
                <label for="twelve">Engagez-vous sur 12 mois</label>
            </div>
            <div class="group-3">
                - 69€/mois
            </div>
        </form>
        <div class="recap-recap">
            <h4>Total de la commande</h4>
            <div>
                161€ HT/mois<br/>
                soit 167,3€ TTC/mois<br/>
                <span>
                    dont 6,30€ de TVA
                </span>
            </div>
        </div>
        <div class="recap-cgv">
            <input type="checkbox" id="cgv">
            <label for="cgv">J'accepte les <a href="#">conditions générales de ventes</a>.</label>
        </div>
    </div>
</div>
<div class="flex nav-bot">
    <a href="index.html" class="nav-bot-left ripple-effect">
        Étape précédente
        <div class="link-prev"><i class="fa fa-long-arrow-left"
                                  aria-hidden="true"></i>Zone de chalandise
        </div>
    </a>
    <a href="google.html" class="nav-bot-right ripple-effect">
        Étape suivante
        <div class="link-prev">Google<i class="fa fa-long-arrow-right" aria-hidden="true"></i></div>
    </a>
</div>