$color1: #353535;
$color2: #fff;
$color3: #0066cc;
$color4: #ffa000;
$color5: #8d8d8d;
$color_client1: #9c27b0;
$color_client2: #f44336;
$bg_color: #eef1f4;
$color-offer-1: #ab47bc;
$color-offer-2: #f44336;
$color-offer-3: #ffc107;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);